@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    
    background-image: url(rick.png);
    background-repeat: no-repeat;
    background-color: #011c6b;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 50% 50%;
    
    
}
h1{
    font-size: 3rem;
    margin-top: 20vh;
    padding: 2rem;
    background-color: rgba($color: #010d31, $alpha: 0.7);
}

main{
    grid-column: 2 / 3;
    width: 70%;
    article {
        margin: 0 auto 0 auto;
        background-color: black;
        padding:3rem;
        margin: 2rem 0 2rem 5rem;
        border-radius: 25px;
        right: 0;
        
        p{
        padding-top: 1rem;
    }}
}